/*html {*/
/*    margin-top: env(safe-area-inset-top);*/
/*    margin-bottom: env(safe-area-inset-bottom);*/
/*}*/

/*ion-content {*/
/*    --ion-background-color: var(--color-blue-super-dark);*/
/*}*/

body {
    padding-top: env(safe-area-inset-top) !important;
    /*overflow: hidden;*/
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /*margin-bottom: 10px;*/

    /*background: white;*/

    background: var(--color-blue-background);
    color: var(--color-white);

    --color-white: white;
    --color-white-opacity: rgba(255, 255, 255, .1);
    --color-white-opacity-small: rgba(255, 255, 255, .8);
    --color-black: black;

    --color-blue-wide-background: rgb(12, 14, 21);

    --color-blue-background: rgb(30, 32, 51);

    --color-blue-super-dark: rgb(40, 45, 70); /*Header*/
    --color-blue-dark: rgb(50, 60, 105); /*Menu*/
    --color-blue: rgb(60, 130, 240); /*Text*/
    --color-blue-ligth: rgba(10, 103, 255, .5); /*Button*/
    --color-blue-button: rgba(56, 70, 115, 1); /*Button*/

    /*--color-blue-super-ligth: rgba(10, 103, 255, .2);*/

    --color-red: rgb(255, 50, 10);
    --color-red-ligth: rgba(255, 50, 10, .5);
    --color-red-super-ligth: rgba(255, 50, 10, .2);
    --color-green: rgb(50, 255, 10);
    --color-green-ligth: rgba(50, 255, 10, .5);
    --color-green-super-ligth: rgba(50, 255, 10, .2);

    --color-gray: rgba(93, 93, 93, 0.8);
    --color-gray-hover: rgba(93, 93, 93, 0.7);
    --color-gray-ligth: rgba(233, 233, 233, 0.5);

    --font-size-minimum: 10px;
    --font-size-small: 12px;
    --font-size-normal: 16px;
    --font-size-larger: 20px;
    --font-size-big: 26px;
    --font-size-super-big: 34px;
    --font-size-giant: 40px;

    --font-weight-big: 600;

    position: relative;

    --min-height: 600px;
    height: var(--min-height);
    min-height: 100vh;

    user-select: none;
}

.ios main {
    --min-height-ios: 550px;
    height: var(--min-height-ios);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 350px;
    min-height: var(--min-height);
    overflow: scroll;
    scrollbar-width: none;
    /*padding-bottom: 20px;*/
    /*margin-bottom: 20px;*/

    background: var(--color-blue-background);
    z-index: 1;
}

.ios main {
    min-width: 320px;
    min-height: var(--min-height-ios);
}

.showWideScreen {
    display: none;
}

@media screen and (min-width: 1000px) {

    body {
        background: var(--color-blue-wide-background);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        max-width: 350px;
        max-height: 670px;
        border-radius: 5px;
        background: var(--color-blue-background);

        margin: auto;
        width: 50%;
    }

    iframe {
        z-index: 3;
        /*padding: 20px;*/
        /*color: white;*/
        max-width: 350px;
        max-height: 670px;
        border-radius: 3px;
        /*background: var(--color-blue-background);*/
        position: absolute;
        top: calc(50% - 355px) !important;
        left: calc(50% - 350px - 175px - 20px);
        /*display: none;*/
    }

    /*.welcome1 {*/
    /*    margin-left: -200px;*/
    /*    color: var(--color-black);*/
    /*}*/
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

div {
    /*background: rgba(0, 255, 0, 0.02);*/
}

div:hover {
    /*background: rgba(0, 0, 0, 0.02);*/
}

a {
    color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
}

.button a {
    color: var(--color-white);
}

.buttonLink {
    cursor: pointer;

}

.buttonLink:hover {
    color: var(--color-blue);
}

a:hover {
    color: var(--color-blue-ligth);
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.text_small {
    font-size: var(--font-size-small);
}

.text_minimum {
    font-size: var(--font-size-minimum);
}

.text_big {
    font-size: var(--font-size-big);
}

.text_black {
    color: var(--color-blue-background);
}


.content {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: red;*/
    /*padding-bottom: 10px;*/
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
    /*border-bottom: 1px solid var(--color-blue-ligth);*/
    /*height: 100px;*/
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding-bottom: 20px;
}

.content.ledger {
    padding-bottom: 10px;
}


.login_logo {
    width: 100px;
    height: 220px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.ledger_logo {
    padding-bottom: 20px;
}


.content_logo {
    width: 30px;
    height: 30px;
    margin: 20px;

    /*padding: 5px;*/

    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px solid white;
}


.welcome1 {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 5px;
    line-height: 100%;
    text-align: left;
    font-size: var(--font-size-giant);
    font-weight: 800;
}

.welcome2 {
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    text-align: left;
    font-weight: 400;
    line-height: 100%;
}

.welcome3 {
    padding-top: 20px;
    width: 100%;
    padding-left: 30px;
    /*padding-top: 10px;*/
    font-weight: 600;
    line-height: 100%;
    text-align: right;
    padding-right: 20px;
}

.title {
    text-align: center;
    /*font-size: 24px;*/
    padding: 10px 20px 0;
    color: var(--color-blue);

    /*font-weight: 300;*/
}

.text {
    /*padding: 10px;*/
    /*padding-bottom: 0;*/
    /*color: black;*/

    /*font-weight: 300;*/
    /*overflow: auto;*/
    white-space: normal !important;
}

.text_help {
    margin-top: 10px !important;
}

.header {
    display: flex;
    flex-direction: row;
}

.header > div:first-child {
    margin-right: 0;
}

.field {
    /*width: 280px;*/
    height: 44px;
    padding: 10px;
    margin: 20px 20px 0;
    /*border-radius: 3px;*/

    /*overflow: hidden;*/
    white-space: nowrap;
    /*border: 1px solid transparent;*/
}

.info .field {
    margin-top: 0;
}

.pointer {
    cursor: pointer;
}

.field_text {
    /*width: 280px;*/
    padding: 10px;
    margin: 0 20px 0;
    /*border-radius: 3px;*/

    /*overflow: hidden;*/
    white-space: nowrap;
    /*border: 1px solid transparent;*/
}

.field_ticker {
    width: 100%;
    margin-right: 60px;
    margin-top: -32px;
    margin-bottom: 10px;
    text-align: right;
    pointer-events: none;
}

.buttons_field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*background: red;*/
    /*padding-bottom: 10px;*/
}

.buttons_field div {
    width: 50%;
}

.buttons_field div:first-child {
    margin-right: 10px !important;
}

.buttons_field div:last-child {
    margin-left: 10px !important;
}


.button {
    cursor: pointer;
    text-align: center;

    /*background: ghostwhite;*/
    color: white;
    /*color: var(--color-blue);*/
    /*border: 1px solid var(--color-blue);*/
    border-radius: 3px;
    user-select: none;

    border: 1px solid var(--color-blue-button);
    background: var(--color-blue-button);
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
}

.button.button_blue {
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.button.small {
    width: 50%;
}

.button.button_icon {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.1;
}

.button_round {
    cursor: pointer;
    text-align: center;
    font-size: var(--font-size-giant);
    font-weight: bold;
    letter-spacing: 4px;

    /*position: absolute;*/
    /*top: calc(50% - 100px);*/
    /*left: calc(50% - 100px);*/

    /*margin-top: 100px;*/
    margin: 100px auto 40px auto;

    height: 200px;
    width: 200px;
    line-height: 200px;

    border-radius: 50%;
    user-select: none;

    border: 2px dashed var(--color-blue);

    /*border: 1px solid var(--color-blue-button);*/
    background: var(--color-blue-button);

    box-sizing: border-box;
}

.button_round:hover {
    border: 2px solid var(--color-blue);
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
}

.button_round.mining {
    background: var(--color-blue);
    border: 2px solid var(--color-blue-button);
    animation: ripple 2s infinite;
}

.mining_status {
    /*position: absolute;*/
    /*bottom: 50px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin-top: 100px;*/
    text-align: center;
    font-size: var(--font-size-big);
}

@keyframes ripple{
    0% {
        /*transform: scale(1.0);*/
        border: 2px solid var(--color-blue-button);
    }

    50% {
        /*transform: scale(1.1);*/
        border: 2px solid var(--color-white);
    }

    100% {
        /*transform: scale(1.0);*/
        border: 2px solid var(--color-blue-button);
    }
}

.back {
    background: white;
}

.green {
    /*color: black;*/
    /*background-color: var(--color-green-ligth);*/
    border: 1px solid var(--color-green);
}

.green:hover {
    color: var(--color-green) !important;
}

.button.red {
    color: var(--color-red);
    background: white;
    border: 1px solid var(--color-red-super-ligth);
    /*background: var(--color-red-super-ligth);*/
}

.button:hover {
    background: var(--color-blue);
    color: ghostwhite;
    border: 1px solid var(--color-blue);
}

/*.button:hover a:hover {*/
/*    background-color: white;*/
/*    padding: 5px 80px;*/
/*    border-radius: 3px;*/
/*}*/

/*.button > a:hover {*/
/*    color: var(--color-blue-super-dark);*/
/*}*/


.button.button_link:hover {
    /*background-color: var(--color-blue-dark);*/
    /*color: var(--color-blue);*/
}

.button.button_link img {
    padding-top: 2px;
}

.button.red:hover {
    background: var(--color-red);
    color: ghostwhite;
}


/*INPUT*/

input.field {
    background: var(--color-blue-background);
    width: calc(100% - 40px);
    height: 44px;
    /*margin-top: 0;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: var(--font-size-normal);
    color: white;

    /*border: 1px solid var(--color-blue-super-ligth);*/
    /*border: none;*/
    /*border-top: 1px solid white;*/
    border: 1px solid var(--color-gray);
    border-radius: 3px;
}

.inputSeed {
    /*height: 100px;*/
    /*word-break: break-word;*/
}

input.field:focus {
    border: 1px solid white;
}

input.field_correct:focus {
    border-color: var(--color-blue);
}

input.field:hover {
    /*border: 1px solid var(--color-blue-ligth)*/
}

input.field:focus {
    /*border: 1px solid var(--color-blue);*/
    outline: none;
}

input.field_incorrect {
    border-color: var(--color-red);
}

input.field::placeholder {
    color: var(--color-gray);
}

input.field.password {
    letter-spacing: 4px;
    font-weight: 400;
}

input.field.password::placeholder {
    letter-spacing: normal;
}

/*input:invalid+span:after {*/
/*    content: '✖';*/
/*    padding-left: 5px;*/
/*}*/

/*input:valid+span:after {*/
/*    content: '✓';*/
/*    padding-left: 5px;*/
/*}*/

input.field_correct {
    border-color: var(--color-blue);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    overflow-x: hidden;
    padding-right: 100px;
}

/*FORM*/

.form {
    /*border-top: 1px solid var(--color-blue-ligth);*/
    /*box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);*/

    position: absolute;
    bottom: 0;
    width: 100%;

    /*margin-top: auto;*/
}

/*FIELDS*/

.address {
    /*font-size: 8px;*/
    color: black;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.balance {
    font-size: var(--font-size-super-big);
    /*color: var(--color-blue)*/
}

.usd {
    color: var(--color-gray-ligth)
}

.favorites {
    /*font-size: var(--font-size-small);*/
    color: var(--color-gray-ligth);
    margin-top: 20px;
    margin-left: 20px;
}

.time {
    color: var(--color-gray-ligth);
    white-space: normal !important;
    font-size: var(--font-size-small);

    display: flex;
    flex-direction: row;
}

/*.disabled {*/
/*    opacity: 0.5;*/
/*    cursor: not-allowed;*/
/*    box-shadow: none;*/
/*}*/

.icon {
    height: 15px;

    /*background: red;*/
    /*height: 16px;*/
}

.icon_container {
    width: 40px;
    height: 40px;
    background: var(--color-blue);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.circle_button {
    font-size: var(--font-size-small);
    color: var(--color-blue);
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.circle_button > div {
    /*background: red;*/
    line-height: 16px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center_vertical {
    width: 100%;
    /*background-color: red;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    box-sizing: border-box;
}

.center_vertical div {
    width: calc(100% - 40px);
    /*border-left: 1px solid white;*/
    /*border-right: 1px solid white;*/
    border-radius: 3px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.1);
}

.center_vertical div:hover {
    /*border: 1px solid var(--color-blue);*/
}

.bottom {
    /*position: absolute;*/
    /*bottom: 0;*/

    width: 100%;
    /*height: 100%;*/
    margin-top: 20px;

    /*background: red;*/

    /*background: var(--color-blue);*/


    /*background: darkgoldenrod;*/
}

.bottom_tabs {
    width: 100%;
    height: 50px;
    line-height: 50px;

    display: flex;
    flex-direction: row;

    /*background: gray;*/
    border-bottom: 1px solid var(--color-gray-ligth);
}

.bottom_tabs > div {
    margin: 0;
    width: 50%;
    text-align: center;

    border-bottom: 4px solid transparent;
    cursor: pointer;

    color: var(--color-gray-ligth);
}

.bottom_tabs > div:hover {
    border-bottom: 4px solid var(--color-blue-ligth);
}

.bottom_tabs > div.bottom_tab_active {
    width: 50%;
    color: var(--color-blue);
    border-bottom: 4px solid var(--color-blue);
}

.bottom_list {
    width: 100%;
    height: 100%;
    /*background: rgba(255, 255, 255, 0.2);*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/

    position: relative;
    /*padding-bottom: 80px;*/
}

.bottom_assets {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 80px;
}

.bottom_list_activity {
    padding-bottom: 0;
}

.bottom_list > div:last-child {
    /*position: absolute;*/
    /*bottom: 0;*/
}

.bottom_list_disabled {
    display: none;
}

/*ASSET*/

.asset {
    display: flex;
    flex-direction: row;
    height: 70px;

    background: rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.asset:hover {
    background: rgba(0, 0, 0, 0.15);
}

.asset_select {
    background: rgba(0, 0, 0, 0.2);
}

.asset > div {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.asset > div > div:last-child {
    padding-bottom: 10px;
    /*background: red;*/
}

/*.asset img {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin: 20px;*/

/*    transform: rotate(-30deg);*/
/*}*/

.asset:first-child > img {
    transform: rotate(0);
}

.asset > div > div:last-child {
    padding-bottom: 10px;
    /*background: red;*/
}

.asset img {
    width: 40px;
    height: 40px;
    margin: 15px 20px;
    /*padding: 10px;*/

    border: 1px solid white;
    background: white;
    border-radius: 50%;
    transform: rotate(-30deg);
}

.asset_separator {
    padding: 20px;
    text-align: right;
}

/*BUTTON*/

.button_add_token {
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
    cursor: not-allowed;

    opacity: .1;
}

.button_reject_all {
    width: calc(100% - 40px);
    /*position: absolute;*/
    margin-bottom: 20px;
    /*cursor: not-allowed;*/

    /*opacity: .4;*/
}

.history_title {
    /*width: calc(100% - 40px);*/
    width: 100%;
    /*position: absolute;*/
    /*color: var(--color-blue);*/
    padding-top: 20px;
    padding-bottom: 10px;
    /*text-align: right;*/
    padding-left: 20px;
    /*cursor: not-allowed;*/

    /*opacity: .4;*/
    border-top: 1px solid var(--color-gray-ligth);
}

.history_link {
    cursor: pointer;
    color: var(--color-blue);
    margin-left: 5px;
}

.history_link:hover {
    color: var(--color-blue-dark)
}

/*ACTIVITY*/

.activity {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    height: 70px;

    cursor: pointer;
}

.activity:hover {
    background: rgba(0, 0, 0, 0.1);
}

.activity > div {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.activity > div > div:last-child {
    padding-bottom: 10px;
    /*background: red;*/
}

.activity img {
    width: 40px;
    height: 40px;
    margin: 15px 20px;
    padding: 10px;

    border: 1px solid var(--color-blue);
    background: var(--color-blue);
    border-radius: 50%;
}

.activity > div:nth-child(2) {
    min-width: 42%;
}

.activity > div.activity_data {
    /*background: red;*/
    padding-right: 20px;
    text-align: right;
    width: 30%;
    /*background: red;*/
}

.connect {
    height: 70px;
    padding-left: 20px;
    padding-right: 30px;
    line-height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.connect:hover {
    background: var(--color-blue-button);
}

.connect > div:last-child:hover {
    color: var(--color-red);
    cursor: pointer;
}


.request_header {
    width: 100%;
    /*height: 70px;*/
    /*line-height: 70px;*/
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;

    margin-left: 50px;

    cursor: pointer;
    /*background: red;*/
}

.request_logo {
    width: 60px;
    height: 60px;
    /*margin: 20px;*/

    padding: 10px;
    background: white;
    border-radius: 50%;
}

.request_text1 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size-big);
}

.request_text_gray {
    color: var(--color-gray-ligth);
    font-weight: 300;
}

.request_text2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    text-align: left;
    align-items: start;
    padding-left: 10px;

    font-weight: 300;
}

.request_text2 > div {
    margin-left: 20px;
}

.request_text2 img {
    width: 20px;
    height: 20px;

    margin-left: 20px;
}

.checkbox {
    cursor: pointer;
}

.checkbox img {
    /*filter: invert();*/
}

.checkbox:hover {
    color: var(--color-gray-ligth)
}

.cards_container {
    /*position: relative;*/
    width: 100%;
    /*left: 0;*/
    /*right: 0;*/
    /*display: block;*/
    /*width: 350px;*/
}

.cards {
    /*position: absolute;*/
    width: 100%;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards .card {
    /*position: relative;*/
    width: calc(100% - 40px);
    height: auto;
    overflow: hidden;
    /*background: red;*/
    flex-shrink: 0;
    margin-bottom: 0;
}

.mining_card {
    border: 2px solid var(--color-blue-button);
    transition: border 1s;
    cursor: pointer;
}

.mining_card.mining_card_mine {
    background: var(--color-blue);
    border: 2px solid var(--color-white);
    animation: ripple 2s infinite;
}

.cards .card.small {
    height: auto;
}

.cards .card.card_select {
    background: var(--color-blue-super-dark);
    /*cursor: pointer;*/
}

.cards .card.card_select:hover {
    /*cursor: pointer;*/
    /*background: var(--color-blue);*/
}

.cards .card:last-child {
    margin-right: 20px;
}

.card {
    position: relative;
    background: var(--color-blue-button);
    margin: 20px;
    padding: 20px;
    height: 200px;
    /*pointer-events: none;*/

    border-radius: 3px;
}

.card > div:first-child {
    padding-top: 0;
}

.card_title {
    font-size: var(--font-size-big);
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card_field {
    padding-top: 10px;
    /*font-weight: 300;*/
}

.card_field_long {
    padding-top: 10px;
}

.card_field_long {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: var(--color-white-opacity);
    border: 1px solid transparent;
}

.card_field_not_copied {
    pointer-events: auto;
    cursor: pointer;
    width: max-content;
}

.card_field_not_copied:hover {
    /*color: var(--color-gray-hover)*/
}

.card_field_copied {
    color: var(--color-gray-ligth)
}

.card_field_right_bottom {
    pointer-events: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.card_field_select {
    /*display: none;*/
    pointer-events: auto;
    position: absolute;
    top: 66px;
    right: 20px;
    cursor: pointer;
}

.card_grid {
    display: flex;
    flex-wrap: wrap;
    /*padding-top: 10px;*/
    margin-top: 10px;
}

.card_grid > div {
    padding: 10px;
    /*margin: 10px;*/
    /*background: red;*/
    width: calc((100%)/3);
    text-align: center;
    transition: background-color 1s;

    background-color: var(--color-white-opacity);
    border: 1px solid transparent;
}

.card_grid > div.card_grid_disabled {
    background-color: transparent;
}

.card_grid > div:hover:not(.card_grid_disabled) {
    color: var(--color-blue-background);
    background: var(--color-white-opacity-small);
}

.card_grid > div.card_grid_select {
    color: var(--color-blue);
    background-color: var(--color-white-opacity-small);;
}

.card_grid > div.card_grid_select:hover {
    color: var(--color-blue);
    /*background-color: var(--color-white-opacity-small);;*/
}

.card:hover .card_field_select {

    /*background: var(--color-blue);*/
}

/*.card:hover .card_field_select:hover {*/
/*    background: var(--color-blue);*/
/*}*/

.card_field_delete {
    position: absolute;
    top: 20px;
    right: 20px;
    /*font-size: var(--font-size-big);*/
    cursor: pointer;
}

.card_field_delete:hover {
    color: var(--color-blue-dark)
}

.card_field_amount {
    position: absolute;
    right: 20px;
    top: 42px;
}

.card_buttons {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.card_buttons > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    /*padding-left: 20px;*/
    width: 50%;
    text-align: center;
    background: var(--color-blue-dark);
}

.card_buttons > div:last-child {
    left: auto;
    right: 0;
}

.card_buttons > div:hover {
    background: var(--color-blue);
}

.card_buttons > div.card_button_current {
    cursor: auto;
    background: var(--color-blue-background);
}

.data_bottom_tabs > div {
    width: 30% !important;
}

.transaction_network {
    position: absolute;
    right: 20px;
    top: 20px;
    /*padding-right: 20px;*/
    width: 100%;
    text-align: right;
    font-size: var(--font-size-small);
}


/* Deprecated */
.transaction_history_back {
    height: 44px;
    line-height: 44px;
    /*position: absolute;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*top: 20px;*/

    left: 20px;
    cursor: pointer;
}

.transaction_from_to {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction_address_copy {
    cursor: pointer;
}

.transaction_url {
    color: var(--color-gray-ligth);
    font-weight: 300;
    font-size: var(--font-size-small);
    padding-top: 20px;
}

.transaction_type {
    border: 1px solid var(--color-blue);
    font-size: var(--font-size-small);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

.transaction_amount {
    font-size: var(--font-size-super-big);
    padding-top: 20px;
}

.transaction_data_amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 20px 20px;
}

.transaction_data_amount > div:first-child {
    color: var(--color-gray-ligth);
    font-size: var(--font-size-small);
}

.transaction_data_amount > div:last-child {
    color: var(--color-blue);
    font-size: var(--font-size-big);
}

.transaction_data_fee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
}

.transaction_data_fee > div:first-child {
    color: var(--color-gray-ligth);
    font-size: var(--font-size-small);
}

.transaction_data_fee > div:last-child {
    color: var(--color-blue);
    font-size: var(--font-size-big);
}

.transaction_data_data {
    width: calc(100% - 40px);
    padding: 20px;
    user-select: text;
    /*background: red;*/
    word-wrap: break-word;

    /*max-height: 190px;*/
    overflow: scroll;
}

.mnemonicGrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.mnemonicGrid > div {
    position: relative;
    width: calc((100% - 40px - 4px) / 3);
    background: var(--color-blue-super-dark);
    margin: 1px;
    border-radius: 3px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    cursor: pointer;
}

.mnemonicGrid > div:hover {
    background: var(--color-blue-dark);
}

.mnemonicGrid .mnemonicIndex {
    font-size: var(--font-size-small);
    position: absolute;
    line-height: normal;
    left: 8px;
    top: 5px;
    color: var(--color-gray-ligth)
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

iframe {
    background: black;
    border: none;
    width: 100%;
    margin-top: 20px;
    min-height: 600px;
    height: 140%;
    position: absolute;
    top: 106px;
    bottom: 0;
    z-index: 3;
    /*scroll-behavior: auto;*/
}

.dapps {
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 20px;*/
    display: flex;
    flex-direction: row;
    /*font-size: var(--font-size-small);*/
    color: var(--color-gray);
    /*height: 62px;*/
    /*line-height: 100%;*/
    margin-top: 20px;
}

.dapps div {
    margin-left: 20px;
    cursor: pointer;
}

.dapps div:hover {
    color: var(--color-gray-ligth);
}