<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73300778516-994smuo7088foc385mg3qilolo46m312.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73300778516-994smuo7088foc385mg3qilolo46m312</string>
	<key>API_KEY</key>
	<string>AIzaSyBos6PUW4DDH5C18EK0CO39hN5HHHukH1g</string>
	<key>GCM_SENDER_ID</key>
	<string>73300778516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enecuum.pwa</string>
	<key>PROJECT_ID</key>
	<string>pwa-android-721ae</string>
	<key>STORAGE_BUCKET</key>
	<string>pwa-android-721ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73300778516:ios:4dc15d81a2a10bc9409101</string>
</dict>
</plist>